<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maftle Logout Page</title>
    <link rel="icon" type="image/png" href="/static/icon.png">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/logoutpage.css">
    <body>
        <div class="card-stone">
            <p>You have been Logged Out</p><br>
            <button id="return-button" type="submit">
            <a href="/">Return to Home</a>
            </button>
        </div>
    </body>