<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>How to Play Maftle</title>
    <link rel="icon" type="image/png" href="/static/icon.png">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <link rel="stylesheet" href="/static/styles/homepage.css">
</head>
<body>
    <style>
        .tutorial-container {
            font-size: 22px;
            font-family: "MinecraftFont";
            color: white;
            text-align: center;
            overflow-y: scroll;
            border-radius: 8px;
            width: 900px;
            height: 100%;
            padding: 12px;
            background-image: url("/static/StoneButtons.png");
        }
    </style>

    <div class="tutorial-container">
        <h1>How to Play Maftle</h1>
        <h2>Objective</h2>
        <p>Your goal is to guess the secret item by crafting items using available materials. Each crafted item will give you clues about the secret item.</p>
        
        <h2>Game Modes</h2>
        <ul>
            <strong>Daily Mode:</strong> A new secret item is available each day. This item will always reset at 12:00am EST<br>
            <strong>Infinite Mode:</strong> Play as many rounds as you like with randomly selected secret items to practive your skills.
        </ul>

        <h2>Crafting Items</h2>
        <p>Select materials from your inventory to craft an item. Once crafted, the game will provide feedback on how similar your crafted item is to the target item.</p>

        <h2>Feedback System</h2>
        <p>After crafting an item, you'll receive feedback indicating how many attributes your crafted item shares with the secret item. Use this information to refine your guesses!</p>

        <h2>Winning the Game</h2>
        <p>You win by correctly guessing the secret item. The game will display a congratulatory message and start a new round in Infinite Mode or end your session in Daily Mode.</p>
        
        <a href="/homepage.html"><button class="button-container">Back to Home</button></a>
    </div>
</body>