@font-face {
    font-family: "MinecraftFont";
    src: url("/static/MinecraftFont.woff") format("woff");
    src: url("/static/MinecraftFont.woff2") format("woff2");
}
body {
    background-image: url("/static/MinecraftBackground.png");
    overflow: hidden;
    /* Browser default margin for body: 8px */
}
main {  /* Horizontal flexbox */
    display: flex;
    flex-direction: row;
}
#vertical-flexbox-1::not(#exit) {
    /* In the future we might want to change this from a flexbox to a grid */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Might be kind of a hacky way of limiting the width of stuff */
    /* margin-top: 75px; */
    margin-top: 4.6875rem;
}
#vertical-flexbox-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Might be kind of a hacky way of limiting the width of stuff */
    margin-left: 3rem;
    margin-top: 8px;

    height: 95vh;
    overflow-y: auto; /* Adds a vertical scrollbar if content overflows */
    padding: 10px; /* Optional: for spacing */
}
/*  Use this to make scroll bar invisible
#vertical-flexbox-2::-webkit-scrollbar {
  display: none;
}
*/
.box {
    background-color: #C6C6C6;
    border: 2px solid black;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 25px;
}
.grid-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* Space between grid and arrow and output */
    gap: 20px;
    margin-top: 4.75rem;
    margin-left: 2rem;
}
.grid {
    display: grid;
    /* margin-right: 150px; */
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    /* Space between boxes in grid */
    /* gap: 5px; */
}
.cell {
    background-color: #8B8B8B;
    border-left: 3.5px solid #373737;
    border-top: 3.5px solid #373737;
    border-right: 3.5px solid #ffffff;
    border-bottom: 3.5px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-box {
    /* Basically a grid item */
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-box img {
    /* Image is 88 x 60 */
    max-width: 74.8px;
    max-height: 51px;
}
.output-box {
    width: 80px;
    height: 80px;
    background-color: #8B8B8B;
    border-left: 3.5px solid #373737;
    border-top: 3.5px solid #373737;
    border-right: 3.5px solid #ffffff;
    border-bottom: 3.5px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.output-box img {
    max-width: 80px;
    max-height: 80px;
}

/* --------Making mini copies of the crafting table-------- */
/* Making every measurement 1/2 of original table */
#miniCraftingTable { /* New version of class="box grid-wrapper" id="craftingTable" */
    /* From box: */
    background-color: #C6C6C6;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 12.5px;
    /* From gridwrapper: */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px; /* Space between grid and arrow and output */
    margin-left: 1rem;
}
#miniGrid { /* New version of class="grid" id="grid" */
    /* From grid class: */
    display: grid;
    /* margin-right: 150px; */
    grid-template-columns: repeat(3, 40px);
    grid-template-rows: repeat(3, 40px);
    /* Space between boxes in grid */
    /* gap: 5px; */
}
.miniGridCell {  /* New version of .cell class */
    background-color: #8B8B8B;
    border-left: 1.75px solid #373737;
    border-top: 1.75px solid #373737;
    border-right: 1.75px solid #ffffff;
    border-bottom: 1.75px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.miniGridItem {
    /* From .item img : */
    width: 37.5px;
    height: 37.5px;
}
#miniArrowBox {
    /* From arrow-box class: */
    /* Basically a grid item */
    display: flex;
    justify-content: center;
    align-items: center;
}
#miniArrowBoxImg {
    /* From arrow-box img class */
    max-width: 37.4px;
    max-height: 25.5px;
}
#miniOutputBox {
    /* From output-box class: */
    width: 40px;
    height: 40px;
    background-color: #8B8B8B;
    border-left: 1.75px solid #373737;
    border-top: 1.75px solid #373737;
    border-right: 1.75px solid #ffffff;
    border-bottom: 1.75px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#miniOutputItem {
    /* From output-box img: */
    max-width: 40px;
    max-height: 40px;
}
/* Should probably also redo .arrow-box img and .output-box img
/* -------------------------------------------------------- */


.game-buttons-area {
    margin-left: 4.5rem;
}
.items-box {
    /* might want to change this from flex (flexbox) to grid so we can have rows and columns of items */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3.375rem;
}
#items {
    display: flex;
    justify-content: center;
    align-items: center;
    /* space between items in inventory */
    gap: 5px;
}
.item {
    cursor: move;
}
.item img {
    width: 75px;
    height: 75px;
}
button {
    padding: 12px;
    font-size: 28px;
    font-family: "MinecraftFont";
    color: white;
    background-image: url("/static/StoneButtons.png");
    background-size: 500px;
    border-radius: 8px;
}
button:hover {
    filter: brightness(85%);
}
.exit-button {
    /* Just doing this to make the exit button a little smaller */
    padding: 8px;
    border-radius: 5px;
    font-size: 24px;
}