@font-face {
    font-family: "MinecraftFont";
    src: url("/static/MinecraftFont.woff") format("woff");
    src: url("/static/MinecraftFont.woff2") format("woff2");
}
body {
    background-image: url("/static/MinecraftBackground.png");
    overflow: hidden;
}
main {
    /* In the future we'll probably need to change this from a flexbox to a grid */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Might be kind of a hacky way of limiting the width of stuff */
    /* margin-top: 75px; */
    margin-top: 4.6875rem;
}
.box {
    background-color: #C6C6C6;
    border: 2px solid black;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 25px;
}
.grid-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid {
    display: grid;
    margin-right: 150px;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    /* Space between boxes in grid */
    /* gap: 5px; */
}
.grid-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* Space between grid and arrow and output */
    gap: 20px;
}
.arrow-box {
    /* Basically a grid item */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Ok ngl this was a really hacky way of getting this stuff over to the left more */
    margin-left: -145px;    /* Delete this line if things get broken */
}
.arrow-box img {
    /* Image is 88 x 60 */
    max-width: 74.8px;
    max-height: 51px;
}
.output-box {
    width: 80px;
    height: 80px;
    background-color: #8B8B8B;
    border-left: 4px solid #373737;
    border-top: 4px solid #373737;
    border-right: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.output-box img {
    max-width: 80px;
    max-height: 80px;
}
.cell {
    background-color: #8B8B8B;
    border-left: 4px solid #373737;
    border-top: 4px solid #373737;
    border-right: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-buttons-area {
    margin-left: 4.5rem;
}
.items-box {
    /* might want to change this from flex (flexbox) to grid so we can have rows and columns of items */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3.375rem;
}
#items {
    display: flex;
    justify-content: center;
    align-items: center;
    /* space between items in inventory */
    gap: 5px;
}
.item {
    cursor: move;
}
.item img {
    width: 75px;
    height: 75px;
}
button {
    padding: 12px;
    font-size: 28px;
    font-family: "MinecraftFont";
    color: white;
    background-image: url("/static/StoneButtons.png");
    background-size: 500px;
    border-radius: 8px;
}
button:hover {
    filter: brightness(85%);
}
.exit-button {
    /* Just doing this to make the exit button a little smaller */
    padding: 8px;
    border-radius: 5px;
    font-size: 24px;
}