#return-button {
    /* different from the global style for button */
    padding: 12px;
    font-size: 28px;
    font-family: "MinecraftFont";
    color: white;
    background-image: url("/static/StoneButtons.png");
    background-size: 500px;
    border-radius: 8px;
    width: 100%;
}

.card-stone p {
    /* Moving this one into the global stylesheet breaks other pages */
    text-align: center;
    margin: 1.5rem;
    font-family: "MinecraftFont";
    color: white;
    font-size: 32px;
    line-height: .1em;
}

a {
    display: block;
    color: white;
    text-decoration: none;
}